<template>
  <h3 class="pagetitle">Memory Map</h3>
  <p>{{ console }}</p>
</template>

<script>
  export default {
    name: 'MemoryMap',
    props: ['console']
  }
</script>

<style scoped>
  .pagetitle {
    margin-bottom: 0
  }
</style>